Repository james-aguirre/c0323-code-solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.html": [
    "markuplint"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx,ts,ts}": [
    "eslint --fix", "prettier --write"],
    "*.{json,md}": ["prettier --write"]
}

updated functions to check if a command is valid before proceeding, console logging to the user if invalid, created new function dataToJson to avoid repeat lines of code
  node-notes-cli/app.js
Due: eslint --fix, prettier --write

added error msgs
  node-notes-cli/app.js
Due: eslint --fix, prettier --write

http messages
  http-messages-recap/.gitkeep
  http-messages-recap/.markuplintrc
  http-messages-recap/.stylelintrc
  http-messages-recap/http-messages-recap-quiz-notes.md
  http-messages-recap/index.html
  http-messages-recap/users.json
Due: markuplint, prettier --write

http messages
  http-messages-recap/http-messages-recap-quiz-notes.md
Due: prettier --write

updated catch error
  node-notes-cli/app.js
Due: eslint --fix, prettier --write

added better error handling
  node-notes-cli/app.js
Due: eslint --fix, prettier --write

npm intro
  npm-intro/.gitkeep
  npm-intro/.npm-init.js
  npm-intro/npm-intro-quiz-notes.md
  npm-intro/package-lock.json
  npm-intro/package.json
Due: eslint --fix, prettier --write

added quiz answers
  npm-intro/npm-intro-quiz-notes.md
Due: prettier --write

.
  express-intro/.gitkeep
  express-intro/express-intro-quiz-notes.md
  express-intro/package-lock.json
  express-intro/package.json
  express-intro/server.js
  npm-intro/npm-intro-quiz-notes.md
Due: eslint --fix, prettier --write

.
  express-intro/express-intro-quiz-notes.md
Due: prettier --write

.
  express-hello-world/.gitkeep
  express-hello-world/express-hello-world-quiz-notes.md
  express-hello-world/package-lock.json
  express-hello-world/package.json
  express-hello-world/server.js
Due: eslint --fix, prettier --write

express-get-json
  express-get-json/.gitkeep
  express-get-json/express-get-json-quiz-notes.md
  express-get-json/package-lock.json
  express-get-json/package.json
  express-get-json/server.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

.
  express-delete/.gitkeep
  express-delete/express-delete-quiz-notes.md
  express-delete/package-lock.json
  express-delete/package.json
  express-delete/server.js
Due: eslint --fix, prettier --write

express-delete
  express-delete/express-delete-quiz-notes.md
  express-delete/server.js
Due: eslint --fix, prettier --write

figuring out post
  express-post-json/.gitkeep
  express-post-json/express-post-json-quiz-notes.md
  express-post-json/package-lock.json
  express-post-json/package.json
  express-post-json/server.js
Due: eslint --fix, prettier --write

express post json
  express-post-json/express-post-json-quiz-notes.md
  express-post-json/server.js
Due: eslint --fix, prettier --write

.
  express-delete/server.js
Due: eslint --fix, prettier --write

.
  express-post-json/server.js
Due: eslint --fix, prettier --write

updated delete callback to be dynamic
  express-delete/express-delete-quiz-notes.md
  express-delete/server.js
Due: eslint --fix, prettier --write

get functionality
  express-notes-api/.gitkeep
  express-notes-api/data.json
  express-notes-api/express-notes-api-notes.md
  express-notes-api/package.json
  express-notes-api/server.js
Due: eslint --fix, prettier --write

select note functionality
  express-notes-api/server.js
Due: eslint --fix, prettier --write

.
  express-notes-api/data.json
  express-notes-api/server.js
Due: eslint --fix, prettier --write

switched .send to .json on all https req
  express-notes-api/data.json
  express-notes-api/server.js
Due: eslint --fix, prettier --write

switched readData from global to re read in every function, checked correctly for errors, other small changes
  express-notes-api/data.json
  express-notes-api/server.js
Due: eslint --fix, prettier --write

switched readData from global to re read in every function, checked correctly for errors, other small changes
  express-notes-api/server.js
Due: eslint --fix, prettier --write

added notes for clarity in future reference
  express-notes-api/server.js
Due: eslint --fix, prettier --write

postgress intro
  postgres-intro/.gitkeep
  postgres-intro/list-of-databases.txt
  postgres-intro/postgres-intro-quiz-notes.md
Due: prettier --write

postgres database
  postgres-database/.gitkeep
  postgres-database/data.sql
  postgres-database/list-of-database.txt
  postgres-database/list-of-relations.txt
  postgres-database/postgres-database-quiz-notes.md
  postgres-database/schema.sql
Due: prettier --write

quiz notes
  postgres-database/postgres-database-quiz-notes.md
Due: prettier --write

sql select
  sql-select/.gitkeep
  sql-select/actor-forty.sql
  sql-select/actor-names.sql
  sql-select/all-actors.sql
  sql-select/all-customers.sql
  sql-select/all-films.sql
  sql-select/all-genres.sql
  sql-select/all-languages.sql
  sql-select/cheap-to-rent.sql
  sql-select/expensive-films.sql
  sql-select/five-customer-emails.sql
  sql-select/inactive-customers.sql
  sql-select/r-rated-films.sql
  sql-select/second-store-customers.sql
  sql-select/sql-select-quiz-notes.md
  sql-select/ten-actor-first-names.sql
  sql-select/twenty-films-of-06.sql
  sql-select/two-kilmers.sql
  sql-select/west-bengali-postal-codes.sql
Due: prettier --write

sql insert
  sql-insert/.gitkeep
  sql-insert/insert-actor.sql
  sql-insert/insert-languages.sql
  sql-insert/sql-insert-quiz-notes.md
Due: prettier --write

sql update
  sql-update/.gitkeep
  sql-update/make-yoder.sql
  sql-update/murica.sql
  sql-update/sick-prank.sql
  sql-update/sql-update-quiz-notes.md
Due: prettier --write

sql-delete
  sql-delete/.gitkeep
  sql-delete/bizarre.sql
  sql-delete/diplomat.sql
  sql-delete/puritanical.sql
  sql-delete/sanction.sql
  sql-delete/sql-delete-quiz-notes.md
Due: prettier --write

.
  sql-join/.gitkeep
  sql-join/big-spenders.sql
  sql-join/sql-join-quiz-notes.md
  sql-update/string-manipulation-1/.eslintrc
  sql-update/string-manipulation-1/.gitkeep
  sql-update/string-manipulation-1/index.html
  sql-update/string-manipulation-1/src/ban-methods.js
  sql-update/string-manipulation-1/src/capitalize.js
  sql-update/string-manipulation-1/src/capitalize.test.js
  sql-update/string-manipulation-1/src/get-first-char.js
  sql-update/string-manipulation-1/src/get-first-char.test.js
  sql-update/string-manipulation-1/src/get-last-char.js
  sql-update/string-manipulation-1/src/get-last-char.test.js
  sql-update/string-manipulation-1/src/get-words.js
  sql-update/string-manipulation-1/src/get-words.test.js
  sql-update/string-manipulation-1/src/is-lower-cased.js
  sql-update/string-manipulation-1/src/is-lower-cased.test.js
  sql-update/string-manipulation-1/src/is-upper-cased.js
  sql-update/string-manipulation-1/src/is-upper-cased.test.js
  sql-update/string-manipulation-1/src/is-vowel.js
  sql-update/string-manipulation-1/src/is-vowel.test.js
  sql-update/string-manipulation-1/src/reverse-word.js
  sql-update/string-manipulation-1/src/reverse-word.test.js
Due: markuplint, eslint --fix, prettier --write

.
  sql-update/string-manipulation-1/.eslintrc
  sql-update/string-manipulation-1/.gitkeep
  sql-update/string-manipulation-1/index.html
  sql-update/string-manipulation-1/src/ban-methods.js
  sql-update/string-manipulation-1/src/capitalize.js
  sql-update/string-manipulation-1/src/capitalize.test.js
  sql-update/string-manipulation-1/src/get-first-char.js
  sql-update/string-manipulation-1/src/get-first-char.test.js
  sql-update/string-manipulation-1/src/get-last-char.js
  sql-update/string-manipulation-1/src/get-last-char.test.js
  sql-update/string-manipulation-1/src/get-words.js
  sql-update/string-manipulation-1/src/get-words.test.js
  sql-update/string-manipulation-1/src/is-lower-cased.js
  sql-update/string-manipulation-1/src/is-lower-cased.test.js
  sql-update/string-manipulation-1/src/is-upper-cased.js
  sql-update/string-manipulation-1/src/is-upper-cased.test.js
  sql-update/string-manipulation-1/src/is-vowel.js
  sql-update/string-manipulation-1/src/is-vowel.test.js
  sql-update/string-manipulation-1/src/reverse-word.js
  sql-update/string-manipulation-1/src/reverse-word.test.js
Due: markuplint, eslint --fix, prettier --write

sql join
  sql-join/big-spenders.sql
  sql-join/magic-mallrats.sql
  sql-join/sassy-cat.sql
  sql-join/sql-join-quiz-notes.md
  sql-join/what-and-when.sql
  sql-join/where-are-they.sql
Due: prettier --write
