Repository james-aguirre/c0323-code-solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.html": [
    "markuplint"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx,ts,ts}": [
    "eslint --fix", "prettier --write"],
    "*.{json,md}": ["prettier --write"]
}

post functionality
  sgt-back-end/.gitkeep
  sgt-back-end/data.sql
  sgt-back-end/package-lock.json
  sgt-back-end/package.json
  sgt-back-end/schema.sql
  sgt-back-end/server.js
  sgt-back-end/sgt-back-end-notes.md
Due: eslint --fix, prettier --write

sgt backend
  sgt-back-end/server.js
Due: eslint --fix, prettier --write

webpack and babel
  webpack-and-babel/imports.js
  webpack-and-babel/webpack-and-babel-quiz-notes.md
Due: eslint --fix, prettier --write

webpack and babel
  webpack-and-babel/imports.js
Due: eslint --fix, prettier --write

.
  webpack-and-babel/webpack-and-babel-quiz-notes.md
Due: prettier --write

react intro
  react-intro/.gitkeep
  react-intro/my-app/.gitignore
  react-intro/my-app/README.md
  react-intro/my-app/package-lock.json
  react-intro/my-app/package.json
  react-intro/my-app/public/favicon.ico
  react-intro/my-app/public/index.html
  react-intro/my-app/public/logo192.png
  react-intro/my-app/public/logo512.png
  react-intro/my-app/public/manifest.json
  react-intro/my-app/public/robots.txt
  react-intro/my-app/src/App.css
  react-intro/my-app/src/App.js
  react-intro/my-app/src/App.test.js
  react-intro/my-app/src/index.css
  react-intro/my-app/src/index.js
  react-intro/my-app/src/logo.svg
  react-intro/my-app/src/reportWebVitals.js
  react-intro/my-app/src/setupTests.js
  react-intro/my-appts/.gitignore
  react-intro/my-appts/README.md
  react-intro/my-appts/package-lock.json
  react-intro/my-appts/package.json
  react-intro/my-appts/public/favicon.ico
  react-intro/my-appts/public/index.html
  react-intro/my-appts/public/logo192.png
  react-intro/my-appts/public/logo512.png
  react-intro/my-appts/public/manifest.json
  react-intro/my-appts/public/robots.txt
  react-intro/my-appts/src/App.css
  react-intro/my-appts/src/App.test.tsx
  react-intro/my-appts/src/App.tsx
  react-intro/my-appts/src/index.css
  react-intro/my-appts/src/index.tsx
  react-intro/my-appts/src/logo.svg
  react-intro/my-appts/src/react-app-env.d.ts
  react-intro/my-appts/src/reportWebVitals.ts
  react-intro/my-appts/src/setupTests.ts
  react-intro/my-appts/tsconfig.json
  react-intro/react-intro-quiz-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

.
  webpack-and-babel/imports.js
Due: eslint --fix, prettier --write

quiz answers
  react-intro/react-intro-quiz-notes.md
Due: prettier --write

react-jsx
  react-jsx/.gitkeep
  react-jsx/my-app/.gitignore
  react-jsx/my-app/README.md
  react-jsx/my-app/package-lock.json
  react-jsx/my-app/package.json
  react-jsx/my-app/public/favicon.ico
  react-jsx/my-app/public/index.html
  react-jsx/my-app/public/logo192.png
  react-jsx/my-app/public/logo512.png
  react-jsx/my-app/public/manifest.json
  react-jsx/my-app/public/robots.txt
  react-jsx/my-app/src/App.css
  react-jsx/my-app/src/App.js
  react-jsx/my-app/src/App.test.js
  react-jsx/my-app/src/index.css
  react-jsx/my-app/src/index.js
  react-jsx/my-app/src/logo.svg
  react-jsx/my-app/src/reportWebVitals.js
  react-jsx/my-app/src/setupTests.js
  react-jsx/react-jsx-quiz-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

.
  react-components/.gitkeep
  react-components/my-app/.gitignore
  react-components/my-app/README.md
  react-components/my-app/package-lock.json
  react-components/my-app/package.json
  react-components/my-app/public/favicon.ico
  react-components/my-app/public/index.html
  react-components/my-app/public/logo192.png
  react-components/my-app/public/logo512.png
  react-components/my-app/public/manifest.json
  react-components/my-app/public/robots.txt
  react-components/my-app/src/App.css
  react-components/my-app/src/App.js
  react-components/my-app/src/App.test.js
  react-components/my-app/src/CustomButton.js
  react-components/my-app/src/index.css
  react-components/my-app/src/index.js
  react-components/my-app/src/logo.svg
  react-components/my-app/src/reportWebVitals.js
  react-components/my-app/src/setupTests.js
  react-components/react-components-quiz-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

.
  react-jsx/react-jsx-quiz-notes.md
Due: prettier --write

react props and expressions
  react-props-and-expressions/.gitignore
  react-props-and-expressions/.gitkeep
  react-props-and-expressions/my-app/.gitignore
  react-props-and-expressions/my-app/README.md
  react-props-and-expressions/my-app/package-lock.json
  react-props-and-expressions/my-app/package.json
  react-props-and-expressions/my-app/public/favicon.ico
  react-props-and-expressions/my-app/public/index.html
  react-props-and-expressions/my-app/public/logo192.png
  react-props-and-expressions/my-app/public/logo512.png
  react-props-and-expressions/my-app/public/manifest.json
  react-props-and-expressions/my-app/public/robots.txt
  react-props-and-expressions/my-app/src/App.css
  react-props-and-expressions/my-app/src/App.js
  react-props-and-expressions/my-app/src/App.test.js
  react-props-and-expressions/my-app/src/CustomButton.js
  react-props-and-expressions/my-app/src/index.css
  react-props-and-expressions/my-app/src/index.js
  react-props-and-expressions/my-app/src/logo.svg
  react-props-and-expressions/my-app/src/reportWebVitals.js
  react-props-and-expressions/my-app/src/setupTests.js
  react-props-and-expressions/react-props-and-expressions-quiz-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

added seperate css file for custombutton
  react-props-and-expressions/my-app/src/CustomButton.css
  react-props-and-expressions/my-app/src/CustomButton.js
  react-props-and-expressions/my-app/src/index.css
Due: stylelint --fix, eslint --fix, prettier --write

quiz answers
  react-props-and-expressions/my-app/src/App.js
  react-props-and-expressions/my-app/src/CustomButton.css
  react-props-and-expressions/react-props-and-expressions-quiz-notes.md
Due: stylelint --fix, eslint --fix, prettier --write

react events
  react-events/.gitkeep
  react-events/my-app/.gitignore
  react-events/my-app/README.md
  react-events/my-app/package-lock.json
  react-events/my-app/package.json
  react-events/my-app/public/favicon.ico
  react-events/my-app/public/index.html
  react-events/my-app/public/logo192.png
  react-events/my-app/public/logo512.png
  react-events/my-app/public/manifest.json
  react-events/my-app/public/robots.txt
  react-events/my-app/src/App.css
  react-events/my-app/src/App.js
  react-events/my-app/src/App.test.js
  react-events/my-app/src/CustomButton.css
  react-events/my-app/src/CustomButton.js
  react-events/my-app/src/index.css
  react-events/my-app/src/index.js
  react-events/my-app/src/logo.svg
  react-events/my-app/src/reportWebVitals.js
  react-events/my-app/src/setupTests.js
  react-events/react-events-quiz-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

second half of exerise
  react-events/my-app/src/App.js
  react-events/my-app/src/CustomButton.js
  react-events/react-events-quiz-notes.md
Due: eslint --fix, prettier --write

react state
  react-state/.gitkeep
  react-state/my-app/.gitignore
  react-state/my-app/README.md
  react-state/my-app/package-lock.json
  react-state/my-app/package.json
  react-state/my-app/public/favicon.ico
  react-state/my-app/public/index.html
  react-state/my-app/public/logo192.png
  react-state/my-app/public/logo512.png
  react-state/my-app/public/manifest.json
  react-state/my-app/public/robots.txt
  react-state/my-app/src/App.css
  react-state/my-app/src/App.js
  react-state/my-app/src/App.test.js
  react-state/my-app/src/ToggleButton.js
  react-state/my-app/src/index.css
  react-state/my-app/src/index.js
  react-state/my-app/src/logo.svg
  react-state/my-app/src/reportWebVitals.js
  react-state/my-app/src/setupTests.js
  react-state/react-state-quiz-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

hotbutton react
  react-hot-button-component/.gitkeep
  react-hot-button-component/my-app/.gitignore
  react-hot-button-component/my-app/README.md
  react-hot-button-component/my-app/package-lock.json
  react-hot-button-component/my-app/package.json
  react-hot-button-component/my-app/public/favicon.ico
  react-hot-button-component/my-app/public/index.html
  react-hot-button-component/my-app/public/logo192.png
  react-hot-button-component/my-app/public/logo512.png
  react-hot-button-component/my-app/public/manifest.json
  react-hot-button-component/my-app/public/robots.txt
  react-hot-button-component/my-app/src/App.css
  react-hot-button-component/my-app/src/App.js
  react-hot-button-component/my-app/src/App.test.js
  react-hot-button-component/my-app/src/HotButton.css
  react-hot-button-component/my-app/src/HotButton.js
  react-hot-button-component/my-app/src/index.css
  react-hot-button-component/my-app/src/index.js
  react-hot-button-component/my-app/src/logo.svg
  react-hot-button-component/my-app/src/reportWebVitals.js
  react-hot-button-component/my-app/src/setupTests.js
  react-hot-button-component/react-hot-button-component-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

toggleswitch react
  react-toggle-switch-component/.gitkeep
  react-toggle-switch-component/my-app/.gitignore
  react-toggle-switch-component/my-app/README.md
  react-toggle-switch-component/my-app/package-lock.json
  react-toggle-switch-component/my-app/package.json
  react-toggle-switch-component/my-app/public/favicon.ico
  react-toggle-switch-component/my-app/public/index.html
  react-toggle-switch-component/my-app/public/logo192.png
  react-toggle-switch-component/my-app/public/logo512.png
  react-toggle-switch-component/my-app/public/manifest.json
  react-toggle-switch-component/my-app/public/robots.txt
  react-toggle-switch-component/my-app/src/App.css
  react-toggle-switch-component/my-app/src/App.js
  react-toggle-switch-component/my-app/src/App.test.js
  react-toggle-switch-component/my-app/src/ToggleSwitch.css
  react-toggle-switch-component/my-app/src/ToggleSwitch.js
  react-toggle-switch-component/my-app/src/index.css
  react-toggle-switch-component/my-app/src/index.js
  react-toggle-switch-component/my-app/src/logo.svg
  react-toggle-switch-component/my-app/src/reportWebVitals.js
  react-toggle-switch-component/my-app/src/setupTests.js
  react-toggle-switch-component/react-toggle-switch-component-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

react form controls
  react-form-controls/.gitkeep
  react-form-controls/my-app/.gitignore
  react-form-controls/my-app/README.md
  react-form-controls/my-app/package-lock.json
  react-form-controls/my-app/package.json
  react-form-controls/my-app/public/favicon.ico
  react-form-controls/my-app/public/index.html
  react-form-controls/my-app/public/logo192.png
  react-form-controls/my-app/public/logo512.png
  react-form-controls/my-app/public/manifest.json
  react-form-controls/my-app/public/robots.txt
  react-form-controls/my-app/src/App.css
  react-form-controls/my-app/src/App.js
  react-form-controls/my-app/src/App.test.js
  react-form-controls/my-app/src/RegistrationFormControlled.js
  react-form-controls/my-app/src/RegistrationFormUncontrolled.js
  react-form-controls/my-app/src/index.css
  react-form-controls/my-app/src/index.js
  react-form-controls/my-app/src/logo.svg
  react-form-controls/my-app/src/reportWebVitals.js
  react-form-controls/my-app/src/setupTests.js
  react-form-controls/react-form-controls-quiz-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

react form controls
  react-form-controls/my-app/src/RegistrationFormControlled.js
  react-form-controls/my-app/src/RegistrationFormUncontrolled.js
Due: eslint --fix, prettier --write

react rendering lists
  react-rendering-lists/.gitkeep
  react-rendering-lists/my-app/.gitignore
  react-rendering-lists/my-app/README.md
  react-rendering-lists/my-app/package-lock.json
  react-rendering-lists/my-app/package.json
  react-rendering-lists/my-app/public/favicon.ico
  react-rendering-lists/my-app/public/index.html
  react-rendering-lists/my-app/public/logo192.png
  react-rendering-lists/my-app/public/logo512.png
  react-rendering-lists/my-app/public/manifest.json
  react-rendering-lists/my-app/public/robots.txt
  react-rendering-lists/my-app/src/App.css
  react-rendering-lists/my-app/src/App.js
  react-rendering-lists/my-app/src/App.test.js
  react-rendering-lists/my-app/src/PokemonList.js
  react-rendering-lists/my-app/src/index.css
  react-rendering-lists/my-app/src/index.js
  react-rendering-lists/my-app/src/logo.svg
  react-rendering-lists/my-app/src/reportWebVitals.js
  react-rendering-lists/my-app/src/setupTests.js
  react-rendering-lists/react-rendering-lists-quiz-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

.
  sgt-back-end/server.js
Due: eslint --fix, prettier --write

.
  react-events/my-app/src/CustomButton.js
Due: eslint --fix, prettier --write

.
  react-toggle-switch-component/my-app/src/ToggleSwitch.js
Due: eslint --fix, prettier --write

.
  react-form-controls/my-app/src/App.js
  react-form-controls/my-app/src/RegistrationFormControlled.js
  react-form-controls/my-app/src/RegistrationFormUncontrolled.js
Due: eslint --fix, prettier --write

.
  react-rendering-lists/my-app/src/PokemonList.js
  react-rendering-lists/react-rendering-lists-quiz-notes.md
  react-validated-input-component/.gitkeep
  react-validated-input-component/my-app/.gitignore
  react-validated-input-component/my-app/README.md
  react-validated-input-component/my-app/package-lock.json
  react-validated-input-component/my-app/package.json
  react-validated-input-component/my-app/public/favicon.ico
  react-validated-input-component/my-app/public/index.html
  react-validated-input-component/my-app/public/logo192.png
  react-validated-input-component/my-app/public/logo512.png
  react-validated-input-component/my-app/public/manifest.json
  react-validated-input-component/my-app/public/robots.txt
  react-validated-input-component/my-app/src/App.css
  react-validated-input-component/my-app/src/App.js
  react-validated-input-component/my-app/src/App.test.js
  react-validated-input-component/my-app/src/index.css
  react-validated-input-component/my-app/src/index.js
  react-validated-input-component/my-app/src/logo.svg
  react-validated-input-component/my-app/src/reportWebVitals.js
  react-validated-input-component/my-app/src/setupTests.js
  react-validated-input-component/react-validated-input-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

validated input component
  react-validated-input-component/.gitkeep
  react-validated-input-component/my-app/.gitignore
  react-validated-input-component/my-app/README.md
  react-validated-input-component/my-app/package-lock.json
  react-validated-input-component/my-app/package.json
  react-validated-input-component/my-app/public/favicon.ico
  react-validated-input-component/my-app/public/index.html
  react-validated-input-component/my-app/public/logo192.png
  react-validated-input-component/my-app/public/logo512.png
  react-validated-input-component/my-app/public/manifest.json
  react-validated-input-component/my-app/public/robots.txt
  react-validated-input-component/my-app/src/App.css
  react-validated-input-component/my-app/src/App.js
  react-validated-input-component/my-app/src/App.test.js
  react-validated-input-component/my-app/src/ValidationForm.js
  react-validated-input-component/my-app/src/index.css
  react-validated-input-component/my-app/src/index.js
  react-validated-input-component/my-app/src/logo.svg
  react-validated-input-component/my-app/src/reportWebVitals.js
  react-validated-input-component/my-app/src/setupTests.js
  react-validated-input-component/react-validated-input-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

.
  react-validated-input-component/.gitkeep
  react-validated-input-component/my-app/.gitignore
  react-validated-input-component/my-app/README.md
  react-validated-input-component/my-app/package-lock.json
  react-validated-input-component/my-app/package.json
  react-validated-input-component/my-app/public/favicon.ico
  react-validated-input-component/my-app/public/index.html
  react-validated-input-component/my-app/public/logo192.png
  react-validated-input-component/my-app/public/logo512.png
  react-validated-input-component/my-app/public/manifest.json
  react-validated-input-component/my-app/public/robots.txt
  react-validated-input-component/my-app/src/App.css
  react-validated-input-component/my-app/src/App.js
  react-validated-input-component/my-app/src/App.test.js
  react-validated-input-component/my-app/src/index.css
  react-validated-input-component/my-app/src/index.js
  react-validated-input-component/my-app/src/logo.svg
  react-validated-input-component/my-app/src/reportWebVitals.js
  react-validated-input-component/my-app/src/setupTests.js
  react-validated-input-component/react-validated-input-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

react-sharing-state
  react-sharing-state/my-app/.gitignore
  react-sharing-state/my-app/README.md
  react-sharing-state/my-app/package-lock.json
  react-sharing-state/my-app/package.json
  react-sharing-state/my-app/public/favicon.ico
  react-sharing-state/my-app/public/index.html
  react-sharing-state/my-app/public/logo192.png
  react-sharing-state/my-app/public/logo512.png
  react-sharing-state/my-app/public/manifest.json
  react-sharing-state/my-app/public/robots.txt
  react-sharing-state/my-app/src/App.css
  react-sharing-state/my-app/src/App.js
  react-sharing-state/my-app/src/App.test.js
  react-sharing-state/my-app/src/Container.js
  react-sharing-state/my-app/src/index.css
  react-sharing-state/my-app/src/index.js
  react-sharing-state/my-app/src/logo.svg
  react-sharing-state/my-app/src/reportWebVitals.js
  react-sharing-state/my-app/src/setupTests.js
  react-sharing-state/react-sharing-state-quiz-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

.
  es6-operators/main.js
Due: eslint --fix, prettier --write

react-accordian-component
  react-accordion-component/.gitkeep
  react-accordion-component/my-app/.gitignore
  react-accordion-component/my-app/README.md
  react-accordion-component/my-app/package-lock.json
  react-accordion-component/my-app/package.json
  react-accordion-component/my-app/public/favicon.ico
  react-accordion-component/my-app/public/index.html
  react-accordion-component/my-app/public/logo192.png
  react-accordion-component/my-app/public/logo512.png
  react-accordion-component/my-app/public/manifest.json
  react-accordion-component/my-app/public/robots.txt
  react-accordion-component/my-app/src/Accordian.js
  react-accordion-component/my-app/src/App.css
  react-accordion-component/my-app/src/App.js
  react-accordion-component/my-app/src/App.test.js
  react-accordion-component/my-app/src/index.css
  react-accordion-component/my-app/src/index.js
  react-accordion-component/my-app/src/logo.svg
  react-accordion-component/my-app/src/reportWebVitals.js
  react-accordion-component/my-app/src/setupTests.js
  react-accordion-component/react-accordion-component-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

react-accordion-component
  react-accordion-component/my-app/src/Accordian.js
  react-accordion-component/my-app/src/App.css
Due: stylelint --fix, eslint --fix, prettier --write

.
  react-app-drawer-component/.gitkeep
  react-app-drawer-component/my-app/.gitignore
  react-app-drawer-component/my-app/README.md
  react-app-drawer-component/my-app/package-lock.json
  react-app-drawer-component/my-app/package.json
  react-app-drawer-component/my-app/public/favicon.ico
  react-app-drawer-component/my-app/public/index.html
  react-app-drawer-component/my-app/public/logo192.png
  react-app-drawer-component/my-app/public/logo512.png
  react-app-drawer-component/my-app/public/manifest.json
  react-app-drawer-component/my-app/public/robots.txt
  react-app-drawer-component/my-app/src/App.css
  react-app-drawer-component/my-app/src/App.js
  react-app-drawer-component/my-app/src/App.test.js
  react-app-drawer-component/my-app/src/DrawerComponent.js
  react-app-drawer-component/my-app/src/index.css
  react-app-drawer-component/my-app/src/index.js
  react-app-drawer-component/my-app/src/logo.svg
  react-app-drawer-component/my-app/src/reportWebVitals.js
  react-app-drawer-component/my-app/src/setupTests.js
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

.
  react-app-drawer-component/my-app/src/App.css
  react-app-drawer-component/my-app/src/App.js
  react-app-drawer-component/my-app/src/DrawerComponent.css
  react-app-drawer-component/my-app/src/DrawerComponent.js
Due: stylelint --fix, eslint --fix, prettier --write

react-app-drawer
  react-app-drawer-component/my-app/src/DrawerComponent.css
  react-app-drawer-component/my-app/src/DrawerComponent.js
Due: stylelint --fix, eslint --fix, prettier --write

react effects
  react-effects/.gitkeep
  react-effects/my-app/.gitignore
  react-effects/my-app/README.md
  react-effects/my-app/package-lock.json
  react-effects/my-app/package.json
  react-effects/my-app/public/favicon.ico
  react-effects/my-app/public/index.html
  react-effects/my-app/public/logo192.png
  react-effects/my-app/public/logo512.png
  react-effects/my-app/public/manifest.json
  react-effects/my-app/public/robots.txt
  react-effects/my-app/src/App.css
  react-effects/my-app/src/App.js
  react-effects/my-app/src/App.test.js
  react-effects/my-app/src/List.js
  react-effects/my-app/src/index.css
  react-effects/my-app/src/index.js
  react-effects/my-app/src/logo.svg
  react-effects/my-app/src/read.js
  react-effects/my-app/src/reportWebVitals.js
  react-effects/my-app/src/setupTests.js
  react-effects/react-effects-quiz-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write
