Repository james-aguirre/c0323-code-solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.html": [
    "markuplint"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx,ts,ts}": [
    "eslint --fix", "prettier --write"],
    "*.{json,md}": ["prettier --write"]
}

base files
  es6-destructuring/.eslintrc
  es6-destructuring/.gitkeep
  es6-destructuring/es6-destructuring-quiz-notes.md
  es6-destructuring/main.js
Due: eslint --fix, prettier --write

es6 destructuring
  es6-destructuring/es6-destructuring-quiz-notes.md
  es6-destructuring/index.html
  es6-destructuring/main.js
Due: markuplint, eslint --fix, prettier --write

deleted extra script tag in index.html
  es6-destructuring/index.html
Due: markuplint

.
  es6-destructuring/main.js
Due: eslint --fix, prettier --write

es6-arrow-functions
  es6-arrow-functions/arrow-this.html
  es6-arrow-functions/es6-arrow-functions-quiz-notes.md
  es6-arrow-functions/index.html
  es6-arrow-functions/main.js
  es6-destructuring/.eslintrc
  es6-destructuring/.gitkeep
  es6-destructuring/es6-destructuring-quiz-notes.md
  es6-destructuring/main.js
Due: markuplint, eslint --fix, prettier --write

quiz answers for es6 arrow functions
  es6-arrow-functions/es6-arrow-functions-quiz-notes.md
Due: prettier --write

es6 operators
  es6-operators/es6-operators-quiz-notes.md
  es6-operators/index.html
  es6-operators/main.js
Due: markuplint, eslint --fix, prettier --write

quiz answers
  es6-operators/es6-operators-quiz-notes.md
  es6-operators/main.js
Due: eslint --fix, prettier --write

updated notes es6-operators
  es6-operators/es6-operators-quiz-notes.md
  object-manipulation-2/src/invert.js
Due: eslint --fix, prettier --write

array-methods
  array-methods/.eslintrc
  array-methods/array-methods-quiz-notes.md
  array-methods/filter.js
  array-methods/for-each.js
  array-methods/index.html
  array-methods/map.js
Due: markuplint, eslint --fix, prettier --write

switched map price function to return original array instead of putting in new array
  array-methods/filter.js
  array-methods/map.js
Due: eslint --fix, prettier --write

switched formatted prices to use Number to fixed method
  array-methods/array-methods-quiz-notes.md
  array-methods/filter.js
  array-methods/map.js
Due: eslint --fix, prettier --write

changed to not include names with d
  array-methods/array-methods-quiz-notes.md
  array-methods/filter.js
  array-methods/for-each.js
  array-methods/map.js
  es6-destructuring/index.html
Due: markuplint, eslint --fix, prettier --write

command line basics
  command-line-basics/.gitkeep
  command-line-basics/and-then.txt
  command-line-basics/command-history.txt
  command-line-basics/command-line-basics-quiz-notes.md
  command-line-basics/hello.txt
  command-line-basics/hubris.txt
  command-line-basics/i-was-here.txt
  command-line-basics/impatience.txt
  command-line-basics/laziness.txt
  command-line-basics/lfz-staff/.bill
  command-line-basics/lfz-staff/.monique
  command-line-basics/lfz-staff/brett
  command-line-basics/lfz-staff/cody
  command-line-basics/lfz-staff/contents.txt
  command-line-basics/lfz-staff/scott
  command-line-basics/lfz-staff/tim-d
  command-line-basics/lfz-staff/tim-h
  command-line-basics/no-and-then.txt
  command-line-basics/pokemon/bulbasaur
  command-line-basics/pokemon/charmander
  command-line-basics/pokemon/squirtle
  command-line-basics/snoot/.gitkeep
  command-line-basics/snoot/boop.txt
  command-line-basics/tag-youre-it.txt
  command-line-basics/three-virtues.txt
Due: prettier --write

quiz answers
  command-line-basics/command-line-basics-quiz-notes.md
Due: prettier --write

node intro
  node-intro/.eslintrc
  node-intro/.gitkeep
  node-intro/hello-node.js
  node-intro/node-intro-quiz-notes.md
Due: eslint --fix, prettier --write

node process
  node-process/.gitkeep
  node-process/node-process-quiz-notes.md
Due: prettier --write

node process argv
  node-process-argv/.eslintrc
  node-process-argv/.gitkeep
  node-process-argv/all-arguments.js
  node-process-argv/echo.js
  node-process-argv/node-process-argv-quiz-notes.md
  node-process-argv/process.js
Due: eslint --fix, prettier --write

.
  node-process/node-process-quiz-notes.md
Due: prettier --write

halfway through title case function
  string-manipulation-3/src/title-case.js
Due: eslint --fix, prettier --write

node-process-argv quiz questions
  node-process-argv/node-process-argv-quiz-notes.md
Due: prettier --write

node-module-system
  node-module-system/.eslintrc
  node-module-system/.gitkeep
  node-module-system/add.js
  node-module-system/calculate.js
  node-module-system/divide.js
  node-module-system/multiply.js
  node-module-system/node-module-system-quiz-notes.md
  node-module-system/package.json
  node-module-system/subtract.js
Due: eslint --fix, prettier --write

node-module-system
  node-module-system/calculate.js
Due: eslint --fix, prettier --write

add
  node-module-system/add.js
Due: eslint --fix, prettier --write

.
  node-module-system/calculate.js
Due: eslint --fix, prettier --write

event-loop
  the-event-loop/.gitkeep
  the-event-loop/interval.js
  the-event-loop/the-event-loop-quiz-notes.md
  the-event-loop/timeout.js
Due: eslint --fix, prettier --write

.
  node-module-system/add.js
  node-module-system/calculate.js
Due: eslint --fix, prettier --write

es6-promises
  es6-promises/.eslintrc
  es6-promises/es6-promises-quiz-notes.md
  es6-promises/main.js
  es6-promises/package.json
  es6-promises/take-a-chance.js
Due: eslint --fix, prettier --write

.
  es6-promises/es6-promises-quiz-notes.md
  es6-promises/main.js
Due: eslint --fix, prettier --write

es6 async await
  es6-async-await/await.js
  es6-async-await/es6-async-await-quiz-notes.md
  es6-async-await/exceptions-best.js
  es6-async-await/exceptions.js
  es6-async-await/fetch.js
  es6-async-await/package.json
Due: eslint --fix, prettier --write

node fs readfile
  node-fs-readfile/cat.js
  node-fs-readfile/cunningham.txt
  node-fs-readfile/dijkstra.txt
  node-fs-readfile/hipster-ipsum.txt
  node-fs-readfile/hopper.txt
  node-fs-readfile/node-fs-readfile-quiz-notes.md
  node-fs-readfile/package.json
  node-fs-readfile/read-any.js
  node-fs-readfile/read-dijkstra.js
Due: eslint --fix, prettier --write

.
  node-fs-writefile/node-fs-writefile.md
  node-fs-writefile/note-to-self.js
  node-fs-writefile/package.json
  node-fs-writefile/random.txt
  node-fs-writefile/write-rand.js
Due: eslint --fix, prettier --write

node writefile
  node-fs-writefile/cp.js
  node-fs-writefile/note-to-self.js
  node-fs-writefile/note.txt
  node-fs-writefile/random.txt
  node-fs-writefile/wooo.txt
  node-fs-writefile/write-rand.js
Due: eslint --fix, prettier --write

added instructors code, commented out old solution
  node-fs-writefile/cp.js
  node-fs-writefile/node-fs-writefile.md
  node-fs-writefile/random.txt
  node-fs-writefile/write-rand.js
Due: eslint --fix, prettier --write

read functionality
  es6-async-await/exceptions-best.js
  node-notes-cli/data.json
  node-notes-cli/fetch.js
  node-notes-cli/node-notes-cli-quiz-notes.md
  node-notes-cli/package.json
  node-notes-cli/read.js
Due: eslint --fix, prettier --write

create function functional
  node-notes-cli/app.js
  node-notes-cli/data.json
  node-notes-cli/fetch.js
  node-notes-cli/read.js
Due: eslint --fix, prettier --write

close to finishing delete function
  node-notes-cli/app.js
Due: eslint --fix, prettier --write

node notes cli
  node-notes-cli/app.js
  node-notes-cli/data.json
Due: eslint --fix, prettier --write

fixed read function to read each note properly
  node-notes-cli/app.js
  node-notes-cli/data.json
Due: eslint --fix, prettier --write

updated functions to check if a command is valid before proceeding, console logging to the user if invalid, created new function dataToJson to avoid repeat lines of code
  node-notes-cli/app.js
  node-notes-cli/data.json
Due: eslint --fix, prettier --write
