Repository james-aguirre/c0323-code-solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.html": [
    "markuplint"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx,ts,ts}": [
    "eslint --fix", "prettier --write"],
    "*.{json,md}": ["prettier --write"]
}

react-carousel
  package-lock.json
  package.json
  react-carousel-component/.gitkeep
  react-carousel-component/my-app/.gitignore
  react-carousel-component/my-app/README.md
  react-carousel-component/my-app/package-lock.json
  react-carousel-component/my-app/package.json
  react-carousel-component/my-app/public/favicon.ico
  react-carousel-component/my-app/public/images/001.png
  react-carousel-component/my-app/public/images/004.png
  react-carousel-component/my-app/public/images/007.png
  react-carousel-component/my-app/public/images/025.png
  react-carousel-component/my-app/public/images/039.png
  react-carousel-component/my-app/public/index.html
  react-carousel-component/my-app/public/logo192.png
  react-carousel-component/my-app/public/logo512.png
  react-carousel-component/my-app/public/manifest.json
  react-carousel-component/my-app/public/robots.txt
  react-carousel-component/my-app/src/App.css
  react-carousel-component/my-app/src/App.js
  react-carousel-component/my-app/src/App.test.js
  react-carousel-component/my-app/src/CarouselComponent.css
  react-carousel-component/my-app/src/CarouselComponent.js
  react-carousel-component/my-app/src/index.css
  react-carousel-component/my-app/src/index.js
  react-carousel-component/my-app/src/logo.svg
  react-carousel-component/my-app/src/reportWebVitals.js
  react-carousel-component/my-app/src/setupTests.js
  react-carousel-component/react-carousel-component-notes.md
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

.
  express-static/.gitkeep
  express-static/express-static-quiz-notes.md
  express-static/public/index.html
  express-static/public/main.js
  express-static/public/styles.css
  express-static/server.js
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

express static
  express-static/express-static-quiz-notes.md
  express-static/package-lock.json
  express-static/package.json
  express-static/public/styles.css
  express-static/server.js
Due: stylelint --fix, eslint --fix, prettier --write

.
  fetch/fetch-quiz-notes.md
  fetch/index.html
  fetch/main.js
Due: markuplint, eslint --fix, prettier --write

added changes to include images in get req
  express-static/package.json
  express-static/public/images/001.png
  express-static/public/images/004.png
  express-static/public/images/007.png
  express-static/public/images/025.png
  express-static/public/images/039.png
  express-static/public/index.html
Due: markuplint, prettier --write

fetch
  fetch/main.js
Due: eslint --fix, prettier --write

fetch in react
  fetch-in-react/.gitkeep
  fetch-in-react/fetch-in-react-quiz-notes.md
  fetch-in-react/my-app/.gitignore
  fetch-in-react/my-app/README.md
  fetch-in-react/my-app/package-lock.json
  fetch-in-react/my-app/package.json
  fetch-in-react/my-app/public/favicon.ico
  fetch-in-react/my-app/public/index.html
  fetch-in-react/my-app/public/logo192.png
  fetch-in-react/my-app/public/logo512.png
  fetch-in-react/my-app/public/manifest.json
  fetch-in-react/my-app/public/robots.txt
  fetch-in-react/my-app/src/App.css
  fetch-in-react/my-app/src/App.js
  fetch-in-react/my-app/src/App.test.js
  fetch-in-react/my-app/src/User.js
  fetch-in-react/my-app/src/UserCard.js
  fetch-in-react/my-app/src/Users.css
  fetch-in-react/my-app/src/Users.js
  fetch-in-react/my-app/src/index.css
  fetch-in-react/my-app/src/index.js
  fetch-in-react/my-app/src/logo.svg
  fetch-in-react/my-app/src/reportWebVitals.js
  fetch-in-react/my-app/src/setupTests.js
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

.
  react-carousel-component/my-app/package-lock.json
  react-carousel-component/my-app/package.json
  react-carousel-component/my-app/src/CarouselComponent.js
Due: eslint --fix, prettier --write

added comment for fetch query
  fetch-in-react/my-app/src/User.js
Due: eslint --fix, prettier --write

fetch in react solution
  fetch-in-react-practice/client/.gitignore
  fetch-in-react-practice/client/README.md
  fetch-in-react-practice/client/package-lock.json
  fetch-in-react-practice/client/package.json
  fetch-in-react-practice/client/public/favicon.ico
  fetch-in-react-practice/client/public/index.html
  fetch-in-react-practice/client/public/logo192.png
  fetch-in-react-practice/client/public/logo512.png
  fetch-in-react-practice/client/public/manifest.json
  fetch-in-react-practice/client/public/robots.txt
  fetch-in-react-practice/client/src/App.css
  fetch-in-react-practice/client/src/App.js
  fetch-in-react-practice/client/src/App.test.js
  fetch-in-react-practice/client/src/components/PageTitle.js
  fetch-in-react-practice/client/src/components/TodoForm.js
  fetch-in-react-practice/client/src/components/TodoList.css
  fetch-in-react-practice/client/src/components/TodoList.js
  fetch-in-react-practice/client/src/components/Todos.js
  fetch-in-react-practice/client/src/index.css
  fetch-in-react-practice/client/src/index.js
  fetch-in-react-practice/client/src/logo.svg
  fetch-in-react-practice/client/src/reportWebVitals.js
  fetch-in-react-practice/client/src/setupTests.js
  fetch-in-react-practice/database/data.sql
  fetch-in-react-practice/database/import.sh
  fetch-in-react-practice/database/schema.sql
  fetch-in-react-practice/fetch-in-react-practice-notes.md
  fetch-in-react-practice/package-lock.json
  fetch-in-react-practice/package.json
  fetch-in-react-practice/server/.env.example
  fetch-in-react-practice/server/nodemon.json
  fetch-in-react-practice/server/package-lock.json
  fetch-in-react-practice/server/package.json
  fetch-in-react-practice/server/server.js
  package-lock.json
  package.json
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

added comments
  fetch-in-react-practice/client/src/components/Todos.js
Due: eslint --fix, prettier --write

.
  fetch-in-react-practice/client/src/components/Todos.js
Due: eslint --fix, prettier --write

express error handling
  express-error-handling/.env.example
  express-error-handling/database/data.sql
  express-error-handling/database/schema.sql
  express-error-handling/express-error-handling-notes.md
  express-error-handling/package-lock.json
  express-error-handling/package.json
  express-error-handling/scripts/db-import.bash
  express-error-handling/server/client-error.js
  express-error-handling/server/error-middleware.js
  express-error-handling/server/server.js
Due: eslint --fix, prettier --write

api-authorization
  api-authorization/server/lib/authorization-middleware.js
Due: eslint --fix, prettier --write

cleaned up code
  api-authorization/server/lib/authorization-middleware.js
Due: eslint --fix, prettier --write

react-routing
  react-routing/client/src/App.js
  react-routing/client/src/components/Header.js
  react-routing/client/src/index.js
  react-routing/client/src/pages/Catalog.js
  react-routing/client/src/pages/ProductDetails.js
Due: eslint --fix, prettier --write

react-custom-hooks
  react-custom-hooks/client/.gitignore
  react-custom-hooks/client/README.md
  react-custom-hooks/client/package-lock.json
  react-custom-hooks/client/package.json
  react-custom-hooks/client/public/favicon.ico
  react-custom-hooks/client/public/index.html
  react-custom-hooks/client/public/logo192.png
  react-custom-hooks/client/public/logo512.png
  react-custom-hooks/client/public/manifest.json
  react-custom-hooks/client/public/robots.txt
  react-custom-hooks/client/src/App.css
  react-custom-hooks/client/src/App.js
  react-custom-hooks/client/src/App.test.js
  react-custom-hooks/client/src/components/PageTitle.js
  react-custom-hooks/client/src/components/TodoForm.js
  react-custom-hooks/client/src/components/TodoList.css
  react-custom-hooks/client/src/components/TodoList.js
  react-custom-hooks/client/src/components/useTodos.js
  react-custom-hooks/client/src/index.css
  react-custom-hooks/client/src/index.js
  react-custom-hooks/client/src/logo.svg
  react-custom-hooks/client/src/reportWebVitals.js
  react-custom-hooks/client/src/setupTests.js
  react-custom-hooks/package-lock.json
  react-custom-hooks/package.json
  react-custom-hooks/react-custom-hooks-quiz-notes.md
  react-custom-hooks/server/.env.example
  react-custom-hooks/server/nodemon.json
  react-custom-hooks/server/package-lock.json
  react-custom-hooks/server/package.json
  react-custom-hooks/server/server.js
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

.
  react-custom-hooks/client/src/components/useTodos.js
  react-custom-hooks/react-custom-hooks-quiz-notes.md
Due: eslint --fix, prettier --write

react-file-uploads
  react-file-uploads/.gitignore
  react-file-uploads/.gitkeep
  react-file-uploads/client/.gitignore
  react-file-uploads/client/README.md
  react-file-uploads/client/package-lock.json
  react-file-uploads/client/package.json
  react-file-uploads/client/public/favicon.ico
  react-file-uploads/client/public/index.html
  react-file-uploads/client/public/logo192.png
  react-file-uploads/client/public/logo512.png
  react-file-uploads/client/public/manifest.json
  react-file-uploads/client/public/robots.txt
  react-file-uploads/client/src/App.css
  react-file-uploads/client/src/App.js
  react-file-uploads/client/src/App.test.js
  react-file-uploads/client/src/UploadForm.js
  react-file-uploads/client/src/index.css
  react-file-uploads/client/src/index.js
  react-file-uploads/client/src/logo.svg
  react-file-uploads/client/src/reportWebVitals.js
  react-file-uploads/client/src/setupTests.js
  react-file-uploads/database/data.sql
  react-file-uploads/database/import.sh
  react-file-uploads/database/schema.sql
  react-file-uploads/javascript-logo.png
  react-file-uploads/package-lock.json
  react-file-uploads/package.json
  react-file-uploads/react-file-uploads-notes.md
  react-file-uploads/server/.env.example
  react-file-uploads/server/lib/client-error.js
  react-file-uploads/server/lib/error-middleware.js
  react-file-uploads/server/lib/uploads-middleware.js
  react-file-uploads/server/nodemon.json
  react-file-uploads/server/package-lock.json
  react-file-uploads/server/package.json
  react-file-uploads/server/server.js
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

.
  data-structures-stacks/.eslintrc
  data-structures-stacks/add-to-top.js
  data-structures-stacks/add-to-top.test.js
  data-structures-stacks/count-values.js
  data-structures-stacks/count-values.test.js
  data-structures-stacks/data-structures-stacks-quiz-notes.md
  data-structures-stacks/get-2nd-from-top.js
  data-structures-stacks/get-2nd-from-top.test.js
  data-structures-stacks/get-top.js
  data-structures-stacks/get-top.test.js
  data-structures-stacks/insert-under-top.js
  data-structures-stacks/insert-under-top.test.js
  data-structures-stacks/is-empty.js
  data-structures-stacks/is-empty.test.js
  data-structures-stacks/lib/stack.js
  data-structures-stacks/lib/stack.test.js
  data-structures-stacks/max-value.js
  data-structures-stacks/max-value.test.js
  data-structures-stacks/package-lock.json
  data-structures-stacks/package.json
  data-structures-stacks/take-top.js
  data-structures-stacks/take-top.test.js
Due: eslint --fix, prettier --write

data structures-stacks
  data-structures-stacks/count-values.js
  data-structures-stacks/data-structures-stacks-quiz-notes.md
  data-structures-stacks/is-empty.js
  data-structures-stacks/max-value.js
Due: eslint --fix, prettier --write

.
  react-file-uploads/server/public/images/.gitkeep
  react-file-uploads/server/public/images/Screenshot 2023-05-31 at 2.32.19 PM-1685731256309.png
  react-file-uploads/server/public/images/Screenshot 2023-05-31 at 8.54.18 PM-1685727403762.png
  react-file-uploads/server/public/images/Screenshot 2023-05-31 at 8.54.18 PM-1685727404448.png
  react-file-uploads/server/public/images/Screenshot 2023-05-31 at 8.54.18 PM-1685727406039.png
  react-file-uploads/server/public/images/Screenshot 2023-05-31 at 8.54.18 PM-1685727406702.png
  react-file-uploads/server/public/images/Screenshot 2023-05-31 at 8.54.18 PM-1685727454740.png
  react-file-uploads/server/public/images/Screenshot 2023-06-02 at 10.15.28 AM-1685727260555.png
  react-file-uploads/server/public/images/javascript-logo-1685725375691.png
  react-file-uploads/server/public/images/javascript-logo-1685725484890.png
  react-file-uploads/server/public/images/javascript-logo-1685725634123.png
  react-file-uploads/server/public/images/javascript-logo-1685725644371.png
  react-file-uploads/server/public/images/javascript-logo-1685725893800.png
  react-file-uploads/server/public/images/javascript-logo-1685725903042.png
  react-file-uploads/server/public/images/javascript-logo-1685726062374.png
Due: none

.
  react-custom-hooks/client/src/components/useTodos.js
Due: eslint --fix, prettier --write

discarded redundant code
  express-error-handling/server/server.js
Due: eslint --fix, prettier --write

added 401 check in authmiddleware function
  api-authorization/server/lib/authorization-middleware.js
Due: eslint --fix, prettier --write

data-structures-queues
  data-structures-queues/.eslintrc
  data-structures-queues/add-to-back.js
  data-structures-queues/add-to-back.test.js
  data-structures-queues/data-structures-queues-quiz-notes.md
  data-structures-queues/get-front.js
  data-structures-queues/get-front.test.js
  data-structures-queues/is-empty.js
  data-structures-queues/is-empty.test.js
  data-structures-queues/lib/queue.js
  data-structures-queues/lib/queue.test.js
  data-structures-queues/package-lock.json
  data-structures-queues/package.json
  data-structures-queues/postpone.js
  data-structures-queues/postpone.test.js
  data-structures-queues/take-2nd.js
  data-structures-queues/take-2nd.test.js
  data-structures-queues/take-front.js
  data-structures-queues/take-front.test.js
  data-structures-queues/take-next-smallest.js
  data-structures-queues/take-next-smallest.test.js
  data-structures-queues/take-smaller.js
  data-structures-queues/take-smaller.test.js
  data-structures-queues/take-value-at-index.js
  data-structures-queues/take-value-at-index.test.js
Due: eslint --fix, prettier --write

.
  api-registration/server/server.js
Due: eslint --fix, prettier --write

quiz answers
  unit-tests-jest/.eslintrc
  unit-tests-jest/numbers.js
  unit-tests-jest/package-lock.json
  unit-tests-jest/package.json
  unit-tests-jest/unit-tests-jest-quiz-notes.md
Due: eslint --fix, prettier --write

unit tests jest
  unit-tests-jest/numbers.test.js
  unit-tests-jest/unit-tests-jest-quiz-notes.md
Due: eslint --fix, prettier --write

.
  javascript-closures/.gitkeep
  javascript-closures/javascript-closures-quiz-notes.md
  javascript-closures/my-app/.gitignore
  javascript-closures/my-app/README.md
  javascript-closures/my-app/package-lock.json
  javascript-closures/my-app/package.json
  javascript-closures/my-app/public/favicon.ico
  javascript-closures/my-app/public/index.html
  javascript-closures/my-app/public/logo192.png
  javascript-closures/my-app/public/logo512.png
  javascript-closures/my-app/public/manifest.json
  javascript-closures/my-app/public/robots.txt
  javascript-closures/my-app/src/App.css
  javascript-closures/my-app/src/App.js
  javascript-closures/my-app/src/App.test.js
  javascript-closures/my-app/src/Counter.js
  javascript-closures/my-app/src/Timer.js
  javascript-closures/my-app/src/index.css
  javascript-closures/my-app/src/index.js
  javascript-closures/my-app/src/logo.svg
  javascript-closures/my-app/src/reportWebVitals.js
  javascript-closures/my-app/src/setupTests.js
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

javascript-closures
  javascript-closures/my-app/src/Counter.js
Due: eslint --fix, prettier --write

updated quiz answers to better understand closures
  javascript-closures/javascript-closures-quiz-notes.md
Due: prettier --write
